.item img {
  width: 100%;
  max-width: 30rem;
  object-fit: cover;
  max-height: 25rem;
  border-radius: 5px;
  margin-bottom: 10px;
}

.item-img {
  display: flex;
  justify-content: center;
}

.item-buttons {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.item-buttons button {
  width: 50%;
  height: 3rem;
  border: none;
  background-color: rgb(255, 68, 68);
  color: white;
  border-radius: 10px;
}

.item button:disabled {
  background-color: var(--light-grey);
}

.item {
  background-color: white;
  max-width: 30rem;
  margin: 0.75rem;
  margin-bottom: 6rem;
  padding: 0.5rem;
  border: 5px white solid;
  border-radius: 10px;
}


.item-container-page {
  max-width: 600px;
  background-color: var(--secondary);
  margin: auto;
  overflow: scroll;
}

.item-buttons #initiate-trade-button {
  background-color: var(--primary);
  color: black;
}