#root {
  background-color: var(--secondary);
}
.profile-container {
  background-color: var(--secondary);
  height: 100vh;
  border-radius: 20px;
}

.profile-card {
  background-color: white;
  margin: 1rem;
  min-height: 39rem;
  border-radius: 10px;
  
}
.profile {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px var(--light-grey) solid;
  padding-bottom: 2rem;
}

.profile-picture img {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 100%;
  border: 1px var(--light-grey) solid;
  margin: 1rem;
  object-fit: cover;
}

.profile-inventory {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

