.settings-item {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem;
  border-bottom: 1px var(--light-grey) solid;
}

.settings-input {
  width: 100%;
}

.settings-input::file-selector-button {
  border: none;
  border-radius: 1rem;
  background-color: var(--primary);
  height: 1.5rem;
}

button.settings-input:disabled {
  background-color: var(--light-grey);
}

.settings-container {
  margin: 0.75rem;
  padding: 0.75rem;
  background-color: white;
  border-radius: 10px;
}

#root {
  height: 100dvh;
}

.settings-save-button {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 5rem;
}

button.settings-input {
  border: none;
  background-color: var(--secondary);
  color: white;
  border-radius: 1rem;
  width: 10rem;
  height: 2.5rem;
}