.settings-item {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem;
  border-bottom: 1px var(--light-grey) solid;
}

.settings-container {
  margin: 1rem;
  background-color: white;

  border-radius: 10px;
}

#root {
  height: 100vh;
}