/* Styling for tabs */

.trade-tabs {
  display: flex;
  justify-content: space-evenly;
}

.trade-tabs button {
  width: 45%;
  margin: 0;
  padding: 0.3rem;
  border: none;
  border-radius: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s linear;
}

.selected {
  color: white;
  background-color: var(--secondary);
  font-size: 18px;
}

.not-selected {
  background-color: var(--primary);
  font-size: 18px;
}

/* Styling for trading symbol */
.trade-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#trading-symbol {
  max-width: 10vw;
  margin: auto;
}

/* Styling for selected inventory */
.selected-inventory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  justify-items: center;
  align-items: center;
}

/* Styling for myTradesBG */ 
.trades-content {
  background-color: green;
  padding-bottom: 5rem;
  min-height: 80vh;
}